@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed?family=Barlow+Semi+Condensed+display:wght@500;600");
:root {
  /* Typography */
  --fs: 13px;
  --fw-500: 500px;
  --fw-600: 600px;
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #eaeef0;
  margin-top: 7%;
  margin-left: 7%;
  margin-right: 7%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr 1fr 1fr;
      grid-template-columns: 1fr  1fr 1fr 1fr;
  -ms-grid-rows: 0.3fr 1fr;
      grid-template-rows: 0.3fr 1fr;
  gap: 20px 20px;
      grid-template-areas: "daniel daniel jonathan  kira" "jeanette patrick patrick  kira";
}

.daniel {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: daniel;
  background-color: var(--moderate-violet);
  border-radius: 2%;
  background-image: url(./img/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.daniel .msg1 {
  color: white;
}

.daniel .msg2 {
  color: var(--light-gray);
  text-align: left;
}

.jonathan {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jonathan;
  background-color: #465770;
  border-radius: 2%;
}

.jonathan .msg2 {
  color: var(--light-grayish-blue);
}

.kira {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: kira;
  background-color: white;
  border-radius: 2%;
  -webkit-box-shadow: 10px 5px 5px #d9eef5;
          box-shadow: 10px 5px 5px #d9eef5;
}

.kira .identificacion .nombre {
  color: black;
}

.kira .msg1 {
  color: black;
}

.jeanette {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: jeanette;
  background-color: #ece3e3;
  border-radius: 2%;
  -webkit-box-shadow: 10px 5px 5px #d9eef5;
          box-shadow: 10px 5px 5px #d9eef5;
}

.jeanette .identificacion .nombre {
  color: black;
}

.jeanette .msg1 {
  color: black;
}

.patrick {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: patrick;
  background-color: #15262e;
  border-radius: 2%;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-left: 2em;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.img {
  margin-right: 13px;
  margin-top: 1em;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid var(--light-gray);
}

.identificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nombre {
  color: white;
  font-weight: bold;
}

.cargo {
  margin-top: -20px;
  font-size: 0.4rem;
  color: var(--light-gray);
}

.msg1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.msg2 {
  color: var(--very-dark-grayish-blue);
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 550px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "daniel" "jonathan" "jeanette"  "patrick" "kira";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */