body{
    background-color: rgb(234, 238, 240);
    margin-top: 7%;
    margin-left:7%;
    margin-right: 7%;
}
 
.grid {
      
    display: grid;  
    grid-template-columns: 2fr 0.9fr 1.8fr 0.3fr .9fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ; 
    gap: 30px 30px; 
    grid-template-areas: 
      "daniel daniel jonathan  kira"
      "jeanette patrick patrick  kira"
       ; 
  }
  .daniel { grid-area: daniel; }
  .jonathan { grid-area: jonathan; }
  .jeanette { grid-area: jeanette; }
  .kira { grid-area: kira;    }
  .patrick { grid-area: patrick; }
     
 
.encabezado {
    display: flex;
    align-content: space-around;
        
   margin-left: 2em;
   margin-top: 40px;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 20px;
  
}

.img{
    margin-right: 13px;
    margin-top: 1em;
    width: 42px;
    height: 42px;
    border-radius: 42%;
}

.identificacion{
    display: flex;
    flex-direction: column;
             
}

    .nombre{
    color: white;
    width: bold;
      
    }

    .cargo{
    color: gray;
    height: 1px;
    margin-top:-20px ;
    
     }

 

.msg1{
    font-size:16px ;
    font-weight: bold;
    color: white;
    margin-left: 20px;
        margin-right: 20px;
}

.msg2{
     color:rgb(163, 157, 157);
     font-size:14px ;
     margin-left: 20px;
     margin-right: 20px;
}



.daniel { 
    background-color: rgb(118, 69, 197);
    border-radius: 2%;
    }
.jonathan { background-color: rgb(70, 87, 112);
    border-radius: 2%;
}

.jeanette { background-color: rgb(236, 227, 227); 
    border-radius: 2%;
     
}
.patrick{background-color: rgb(21, 38, 46);
    border-radius: 2%;
}


.kira{background-color: rgb(71, 30, 30);
    border-radius: 2%; 
    }


@media  only screen and (max-width:550px) {
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "daniel"
        "jonathan"
        "jeanette" 
        "patrick"
        "kira"
        ;
        align-items: center;
    }
    
}
 

 


  