      
 @import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed?family=Barlow+Semi+Condensed+display:wght@500;600");

 :root{
 /* Typography */
   --fs: 13px;
   --fw-500: 500px;
   --fw-600: 600px;

  // ## Colors
  //### Primary
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
  
  //### Neutral
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

 }




body{
    font-family: 'Barlow Semi Condensed', 'sans-serif' ;
    background-color: rgb(234, 238, 240);
    margin-top: 7%;
    margin-left:7%;
    margin-right: 7%;
    margin-bottom: 7%;
}
 
.grid{      
    display: grid;  
    grid-template-columns: 1fr  1fr 1fr 1fr; 
    grid-template-rows: 0.3fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "daniel daniel jonathan  kira"
      "jeanette patrick patrick  kira"
       ; 
  }
    
  .daniel{ 
      grid-area: daniel  ;
      background-color: var(--moderate-violet) ;
      border-radius: 2%;
      background-image: url(./img/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position:top right; 
      background-size:  10rem;
      background-position-x: 88%;
     
} 

.daniel .msg1{
    color:white;
}

.daniel .msg2{
    color: var(--light-gray);
    text-align:left;
}


.jonathan{ 
      grid-area: jonathan;
      background-color: rgb(70, 87, 112);
      border-radius: 2%;
 }
.jonathan .msg2{
    color: var(--light-grayish-blue);
}



  .kira{ 
      grid-area: kira;  
      background-color: white;
      
      border-radius: 2%; 
      box-shadow: 10px 5px 5px rgb(217, 238, 245); 
     }

.kira .identificacion .nombre{
   color: black;
}
.kira .msg1{
    color:black;
}



.jeanette{ 
    grid-area: jeanette;
    background-color: rgb(236, 227, 227); 
    border-radius: 2%;
    box-shadow: 10px 5px 5px rgb(217, 238, 245);
}

.jeanette .identificacion .nombre{
    color: black;
 }
 
 .jeanette .msg1{
     color:black;
 }

.patrick{ 
   grid-area: patrick;
    background-color: rgb(21, 38, 46);
    border-radius: 2%;
 }
     
 
.encabezado{
    display: flex;
    align-content: space-around;
        
   margin-left: 2em;
   margin-top: 40px;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 20px;
  
}

.img{
    margin-right: 13px;
    margin-top: 1em;
    width: 42px;
    height: 42px;
    border-radius:50%;
    border: 3px solid var(--light-gray);
}


.identificacion{
    display: flex;
    flex-direction: column;
   
}

    .nombre{
      color: white;
     font-weight: bold;
    }

    .cargo{ 
  //  color: hsla(0%, 0%, 81%, .5);
    margin-top:-20px ;
    font-size:0.4rem;
    color: var(--light-gray);
    
     }
 


.msg1{
    font-size: 3ch;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
}

.msg2{
     color: var(--very-dark-grayish-blue) ;
     margin-left: 20px;
     margin-right: 20px;
}




 
 
 

@media  only screen and (max-width:550px) {
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "daniel"
        "jonathan"
        "jeanette" 
        "patrick"
        "kira"
        ;
        align-items: center;
    }
    
    .msg1{
        font-size: 3.6ch;
        font-weight: bold;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }

    .daniel {
      background-image: url(./img/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position:top right; 
      background-size:  11rem;
      background-position-x: 8rem;
    }
}
 

 


  